table, th, td {
    border: solid 1px black;
    padding: 0.3vh;
    font-size: 2vh;
    text-align: center;
    height: 8vh;
}
table {
    margin-left: 2vh;
}
textarea {
    height: 90%;
    resize: none;
}
body {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    margin: 0.5vh;
    margin-left: 0;
    width: 176px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.sku {
    margin-right: 0.8vh;
}
.enter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#enter {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
#addItem {
    margin-right: auto;
    margin-top: 0.2vh;
}
.notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-right: none;
    border-left: none;
}
