<h1>List of Users with Name: <b>{{name}}</b></h1>
<span>select to delete</span>
<table>
  <tr>
    <th>
    </th>
    <th>Name</th>
    <th>Phone</th>
    <th>SKU</th>
    <th>Item</th>
  </tr>

  {{#each orders}}
  <tr onclick="deleteIt()">
    {{#each this}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}

</table>
