<div>
  <h1>Welcome to my raincheck application</h1>

{{#if orders}}
<br>
<h1>List of Active Rainchecks</h1>
<table id="main-table">
  <tr>
    <th>
    </th>
    <th>Name</th>
    <th>Phone</th>
    <th>SKU</th>
    <th>Item</th>
    <th></th>
  </tr>

  {{#each orders}}
  <tr>
    {{#each this}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}

</table>
{{/if}}

<br><br>

<h3>Enter Raincheck here:</h3>
<div class="enter-container">
<form action="/enter" method="POST" id="enter">
  <input type="string" name="name" placeholder="name" />
  <input type="number" name="phone" placeholder="phone number" />
  <br><br>
  <span>Items</span>
  <br>
  <input type="number" name="skus[0]" placeholder="sku" />
  <input type="string" name="items[0]" placeholder="item" /><br>
  <input type="string" name="notes" placeholder="notes"  id="notes"/>
  <br><button type="submit" id="enterSub">Submit</button>
</form>
</div>
<button name="add" onclick="addInputs()" id="addItem">Add Item</button>
<br>
<h3>Delete Raincheck by Phone Number</h3>
<form action="/delete" method="POST" id="delete">
  <input type="number" name="phone" placeholder="phone" />
  <button type="submit">Submit</button>
</form>
</div>
