<h1>List of Users with Name: {{name}}</h1>
<table>
  <tr>
    <th>
    </th>
    <th>Name</th>
    <th>Phone</th>
    <th>SKU</th>
    <th>Item</th>
  </tr>

  {{#each orders}}
  <tr>
    {{#each this}}
    <td>{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}

</table>
