<!DOCTYPE html>
<html>
  <head>
    <title>Raincheck Application</title>
    <link rel='stylesheet' href='public/layouts/scss/main.scss' />
    <style>
      table, th, td {
        border: solid 1px black;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
