<!DOCTYPE html>
<html>
  <head>
    <title>Raincheck Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <style>
    * {
      font-family: Times;
    }
    table, th, td {
        border: solid 1px black;
        padding: 0.5vh;
        font-size: 2vmin;
        text-align: center;
        height: auto;
        background-color: white;
    }
    td {
      width: auto;
    }
    th {
      background-color: rgba(0, 0, 0, 0.07);
    }
    table {
        margin-left: 1vh;
        margin-top: 2vh;
        background-color: rgb(230, 230, 230);
    }
    textarea {
        height: 7vw;
        width: 20vw;
        resize: none;
        font-size: 1.8vmin;
    }
    body {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(234, 247, 252);
    }
    button {
    }
    input {
        margin: 0.5vh;
        margin-left: 0;
        width: 17vmin;
        height: 3vmin;
        padding: 0.3vmin;
        font-size: 1.8vmin;
        border: none;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .nav-bar {
      width: 100vw;
      height: 8vh;
      background-color: grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .nav-button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: right;
      margin-top: 2vh;
      font-size: 3vmin;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .table-container {
      align-items: left;
    }
    .table-input {
      height: 100%;
      width: 100%;
    }

    .sku {
        margin-right: 0.8vh;
    }
    .enter-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    #enter {
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }
    #enter-sub {
       margin: auto;
       margin-right: 0;
    }
    .notes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    .notes-cell {
      cursor: pointer;
    }

    .add-raincheck {
      margin-top: 0.5vh;
    }
    .grey {
      background-color: rgb(230, 230, 230);
    }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
  <script style="text/javascript">


function addInputs(){
  let i = 0;
  (function add() {
    let sku = document.createElement("input");
    let item = document.createElement("input");
    let br = document.createElement("br");
    let enter = document.getElementById("enter");
    let notes = document.getElementById("notes");

    sku.setAttribute("type", "number");
    sku.setAttribute("name", "skus["+(i+1)+"]");
    sku.setAttribute("placeholder", "sku");
    sku.className += "sku";
    enter.insertBefore(sku, notes);

    item.setAttribute("type", "string");
    item.setAttribute("name", "items["+(i+1)+"]");
    item.setAttribute("placeholder", "item");
    enter.insertBefore(item, notes)

    enter.insertBefore(br, notes);

    i++;
  })()
}


//Adding the additional cells (notes and delete) into the table
  (function addCells() {
    let childElements = document.getElementById("main-table").children[0].children;

    function Del() {
      let delElement = document.createElement("button");
      delElement.setAttribute("onClick", "deleteElement(this)");
      delElement.innerHTML = "Delete";
      return delElement;
    }

    for(let i = 0; i < childElements.length; i++) {
      if(i != 0) {
        if(childElements[i].children[0].innerHTML != "") {
          let cell = childElements[i].insertCell();
          cell.setAttribute("class", "deleteCell");
          childElements[i].children[5].setAttribute("onclick", "turnTextArea(this)");
          childElements[i].children[5].className += "notes-cell";
        }
      }
    }
    let cells = document.getElementsByClassName("deleteCell");
    for(let i = 0; i < cells.length; i++) {
      window["deleteCell" + i] = new Del();
      cells[i].append(window["deleteCell" + i])
    }

  })()

  //delete functionality
    function deleteElement(el) {
      let postPhone = el.parentElement.parentElement.children[2].innerHTML.toString()
      let order = {phone: postPhone}

      $.ajax({
        type: "POST",
        url: "/delete",
        data: order,
        success: function() {
          window.location.reload(true);
        },
        error: function() {
          alert("eror");
        }
      })

    }

    //onClick textArea
    function turnTextArea(el) {
      if(el.children.length === 0){
      let textArea = document.createElement("textarea");
      let data = el.innerHTML;
      let button = document.createElement("button");

      button.setAttribute("onClick", "commitNotes(this)")
      button.innerHTML = "Commit";
      button.style.margin = "auto";

      el.innerHTML = "";
      el.className = "notes"

      textArea.innerHTML = data;

      el.append(textArea);
      el.append(button);
    }
    }

    //textArea submit feature
    function commitNotes(el) {
      let postNotes = el.parentElement.children[0].value;
      let postPhone = el.parentElement.parentElement.children[2].innerHTML;
      let update = {
        phone: postPhone,
        notes: postNotes
      };

      $.ajax({
        type: "POST",
        url: "/update",
        data: update,
        success: () => {
          window.location.reload(true);
        },
        error: () => {
          alert("error");
        }
      })
    }

    //add additional row in table for addiung raincheck

    let grc = 1; //global row count if I will allow mltiple rainchecks to be submitted

    function addRow(element) {
      let table = document.getElementById("main-table");
      let row = document.createElement("tr");

//constructor functions for input elements
      function CreateNameInput(num) {
        let input = document.createElement("input");
        input.setAttribute("name", "name");
        input.setAttribute("placeholder", "name");
        input.setAttribute("id", "name " + num);
        input.setAttribute("class", "table-input");
        return input;
      }

      function CreatePhoneInput(num) {
        let input = document.createElement("input");
        input.setAttribute("name", "phone");
        input.setAttribute("placeholder", "phone");
        input.setAttribute("id", "phone " + num);
        input.setAttribute("class", "table-input");
        return input;
      }

      function CreateSkuInput(num) {
        let input = document.createElement("input");
        input.setAttribute("name", "sku");
        input.setAttribute("placeholder", "sku");
        input.setAttribute("id", "sku " + num);
        input.setAttribute("class", "table-input");
        return input;
      }

      function CreateItemInput(num) {
        let input = document.createElement("input");
        input.setAttribute("name", "item");
        input.setAttribute("placeholder", "item");
        input.setAttribute("id", "item " + num);
        input.setAttribute("class", "table-input");
        return input;
      }

      function CreateNotesInput(num) {
        let input = document.createElement("input");
        input.setAttribute("name", "notes");
        input.setAttribute("placeholder", "notes");
        input.setAttribute("id", "notes " + num);
        input.setAttribute("class", "table-input");
        return input;
      }

      for(let i = 0; i < table.children[0].children[0].children.length + 1; i++) {
        row.append(document.createElement("td"));
      }
      for(let i = 0; i < row.children.length; i++) {
        if(i === 1) {
          window["input" + grc] = new CreateNameInput(grc);
          row.children[i].append(window["input" + grc])
        }
        if(i === 2) {
          window["input" + grc] = new CreatePhoneInput(grc);
          row.children[i].append(window["input" + grc])
        }
        if(i === 3) {
          window["input" + grc] = new CreateSkuInput(grc);
          row.children[i].append(window["input" + grc])
        }
        if(i === 4) {
          window["input" + grc] = new CreateItemInput(grc);
          row.children[i].append(window["input" + grc])
        }
        if(i === 5) {
          window["input" + grc] = new CreateNotesInput(grc);
          row.children[i].append(window["input" + grc])
        }
        if(i === 6) {
          let addButton = document.createElement("button");
          addButton.innerHTML = "Add";
          addButton.setAttribute("onclick", "enterRaincheck(this)");
          row.children[i].append(addButton)
        }
        if(i === 7) {
          let itemButton = document.createElement("button");
          itemButton.setAttribute("onclick", "extraRow(this)");
          itemButton.innerHTML = "Add Item";
          row.children[i].append(itemButton);
        }
      }
      row.setAttribute("id", "row " + grc);
      table.append(row);
      grc++;
      element.style.display = "none";
    }

    //enter new raincheck from add button in table

    function enterRaincheck(element) {
      let parent = element.parentElement.parentElement;
      let newName = parent.children[1].children[0].value;
      let newPhone = parent.children[2].children[0].value*1;
      let newNotes = parent.children[5].children[0].value;

      let table = parent.parentElement;
      let newSkus = [];
      let newItems = [];

//find skus
      for(let i = 1; i < table.children.length; i++) {
        newSkus.push(table.children[i].children[3].children[0].value);
        newItems.push(table.children[i].children[4].children[0].value);
      }

      let newEnter = {
        name: newName,
        phone: newPhone,
        skus: newSkus,
        items: newItems,
        notes: newNotes
      }

      $.ajax({
        type: "POST",
        url: "/enter",
        data: newEnter,
        success: function() {
          window.location.reload(true);
        },
        error: function() {
          alert("error");
        }
      })
    }

    //add aditional row for more items in table

    function extraRow(el) {
      let table = document.getElementById("main-table");
      let row = document.createElement("tr");


      function CreateSkuInput() {
        let input = document.createElement("input");
        input.setAttribute("name", "sku");
        input.setAttribute("placeholder", "sku");
        input.setAttribute("class", "table-input");
        return input;
      }

      function CreateItemInput() {
        let input = document.createElement("input");
        input.setAttribute("name", "item");
        input.setAttribute("placeholder", "item");
        input.setAttribute("class", "table-input");
        return input;
      }


      for(let i = 0; i < table.children[0].children[0].children.length+1; i++) {
        if(i === 7) {
          let td = document.createElement("td");
          let itemButton = document.createElement("button");
          itemButton.setAttribute("onclick", "extraRow(this)");
          itemButton.innerHTML = "Add Item";
          td.append(itemButton)
          row.append(td);
        }
        else {
          row.append(document.createElement("td"));
        }
      }
      for(let i = 0; i < row.children.length; i++) {
        if(i === 3) {
          window["input" + i] = new CreateSkuInput();
          row.children[i].append(window["input" + i])
        }
        else if(i === 4) {
          window["input" + i] = new CreateItemInput();
          row.children[i].append(window["input" + i])
        }
        else {
          if(i != 7){
          console.log(i);
          console.log(row.children[i]);
          row.children[i].className += "grey";
          }
        }
      }
      table.append(row)
      el.style.display = "none";
    }

  </script>
</html>
